/* Ajoutez ces styles à la fin de votre fichier style.css pour formations.html */

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side {
  /* Ajoutez les styles pour la colonne de gauche ici, si nécessaire */
}

.right-side {
  text-align: left;
  flex: 1;
}

.right-side h1 {
  margin-bottom: 20px;
}

.right-side .section {
  max-width: 600px;
  margin: 0 auto;
}

.right-side .formation {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.right-side .formation img {
  width: 200px; /* Taille plus grande pour les images (ajustez selon vos besoins) */
  height: auto;
  margin-right: 20px;
}

.right-side .formation .formation-info {
  flex: 1;
}

.right-side .formation h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.right-side .formation p {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.section-button {
  
  color: white;
  
}

.section-button:hover {
  
  color: gray;
}
